/* Adicione estilos conforme necessário */
main.table {
    margin: 10px auto;
    text-align: center;
    max-width: 420px;
    height: fit-content;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .5rem;
    overflow: hidden;
}
  
.table__header {
    max-height: 12%;
    background-color: #155a88;
    padding: .8rem 1rem;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.178) ;
    color: white;
}

h2 {
    font-size: 20px;
    padding: 5px 20px;
    margin: 0;
}

.btn-back {
    color: white;
    padding: 8px;
    font-size: 25px;
    margin-top: 16px;
    align-self: flex-start;
    transition: all .3s ease-in-out;
}

.btn-back:hover {
    transition: all .3s ease-in-out;
    transform: scale(1.1);
    text-shadow: 5px 6px 7px black;
}

.back-link {
    position: absolute;
    left: 18px;
    top: -6px;
}

.form_alunos {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 15px 25px 22px;
}

.form_alunos .form-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-sub-section {
    display: grid;
    grid-template-columns: .4fr 1fr;
    gap: 15px;
}

.input-area {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 5px 0px 0px;
    width: 100%;
}

.input-area input {
    font-size: 15px;
}
    
label {
    font-size: 17px;
    color: #082e47;
    margin-bottom: 8px;
    font-weight: 600;
}

input {
    border: none;
    box-sizing: border-box;
    height: 30px;
    padding: 5px 8px;
    border-radius: 2px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.192);
    width: 100%;
    font-size: 15px;
}

input:focus {
    outline: 2px solid #0d5788;
}

.btn-area {
    align-self: center;
    width: 100%;
    margin: 12px 0px 0px;
}
    
.btn-adicionar {
    background-color: #0b4b75;
    border: none;
    height: 40px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 15px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.247);
    border-radius: 2px;
    width: 100%;
    font-size: 15px;
    place-self: end;
    place-content: end;
    transition: all .3s ease-in-out;
}
    
.btn-adicionar:hover {
    color: #0b4b75;
    background-color: white;
    transition: all .3s ease-in-out;
}
    
    /* Adicione mais estilos conforme necessário */
    